body {
  width: 100%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  font-size: large;
  font-family: "Poppins", sans-serif;
}

.gameInput {
  padding: 20px 0px;
  width: 400px;
}

.myInput {
  width: 200px;
  height: 21px;
}

.guessSubmit {
  font-size: large;
}
.lastResult {
  color: white;
}

.resultGame {
  font-size: large;
}

.resetButton {
  font-size: large;
  padding: 0 10px;
}
